body {
	margin: 0;
	font-family:'Spectral+SC',sans-serif;
}

.hero-image {
    /* The image used */
    background-image: url("img/Web 1920 – 1@2x.png");
    display: flex;
    /* Set a specific height */
    width: 100%;
    height:500px;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 1px;
}

.search-box {
	width: 100%;
	display: flex;
    position:relative;
    top:49%;
}

.search-input {
	flex-grow: 1;
	height: 50px;
	font-size: 1em;
	padding: 5px 20px;
}

.map_and_list {
	width: 100%;
	height: 100%;
	display: flex;
	position:relative;
    top:50%;
}

.result {
	order: 1;
	flex-grow: 1;
	background-color: #ffffff00;
	position:relative;
	top:50px;
}

.map {
	order: 2;
	flex-grow: 4;
	background-color: #fff;
	text-align: center;
	height: 1000px;
	position:relative;

}

.lobsters {
	margin: 0;
	padding: 0;
	position:relative;
}

.one_lobster {
    margin: 15px;
    padding: 15px;
    list-style: none;
    background-color: #f4f4f4;
    opacity:0.7;
}

@media only screen and (max-device-width : 959px), only screen and (max-width : 959px)  {

.map_and_list {
	flex-direction: column;
}


.search-input, .result {
	font-size: 1.5em;
}

}
